@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    background: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.register-cont {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: auto;
    margin-top: 5rem;
    border: 1px solid #ccc;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-control {
    border-radius: 30px;
    padding: 15px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #007bff;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.error-msg {
    color: red;
}

.text-warning {
    color: #ffc107 !important;
}
